@using QuanLyBanHang.Models
@model QuanLyBanHang.Models.PartialCart
<ul>
    <li><a href="/Cart"><i class="fa fa-shopping-bag"></i> <span>@Model.TotalItem</span></a></li>
</ul>
<div class="header__cart__price">item: <span>@Model.TotalMoney &#8363;</span></div>